html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f6fa;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
