.hb-launcher {
  width: 3.75rem;
  height: 3.75rem;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  color: var(--hb-color-interactive-launcher-icon);

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
  }
  .hb-open-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    color: currentColor;
    fill: currentColor;
  }

  .hb-closed-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    color: currentColor;
    fill: currentColor;
  }

  .hb-new-messages-count {
    position: absolute;
    top: -0.1875rem;
    left: 2.5625rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    width: 1.375rem;
    height: 1.375rem;
    background: var(--hb-color-interactive-badge-bg);
    color: var(--hb-color-interactive-badge-text);
    text-align: center;
    margin: auto;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
  }
}

.hb-launcher.opened:before {
  box-shadow: var(--hb-shadow-overlay);
}

.hb-launcher:hover {
  box-shadow: var(--hb-shadow-elevated);
}
