.hb-message {
  margin: auto;
  padding: 0 0.5rem 0 0;
  display: flex;
  margin-bottom: 0.25rem;

  &:first-child {
    margin-top: 50%;
  }

  &.sent {
    flex-direction: row-reverse;

    .hb-message--content {
      justify-content: flex-end;

      .hb-message--avatar {
        display: none;
      }

      .hb-message--wrapper {
        align-items: flex-end;

        .hb-message--text {
          color: var(--hb-color-text-on-primary);
          background-color: var(--hb-color-surface-message-sent);
          overflow-wrap: break-word;
          --hb-message-link-hover-color: var(
            --hb-color-interactive-button-primary-hover
          );
        }

        .hb-message--meta {
          flex-direction: row-reverse;
        }
      }
    }
  }

  .hb-message--content {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: calc(100% - 40px); // same as avatar spacing
    width: 100%;

    .hb-message--avatar {
      width: 32px;
      height: 32px;
      margin: 0.125rem 0.25rem;
      background-position: 0 0;
      flex-shrink: 0;
      background-size: cover;
      border-radius: 100%;
    }

    .hb-message--wrapper {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      word-break: break-word;
      width: 100%;
      max-width: 256px;


        .hb-message--text {
          padding: 0.625rem 1.25rem;
          border-radius: 0.5rem;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.5;
        position: relative;
          -webkit-font-smoothing: subpixel-antialiased;
          color: var(--hb-color-text-primary);
          background-color: var(--hb-color-surface-message-received);
          --hb-message-link-hover-color: var(
            --hb-color-interactive-button-secondary-hover
          );
        }

        .hb-message--meta {
          display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 0.65rem;
        margin-top: 0.25rem;
        padding: 0 0.25rem;
          width: 100%;
          height: 18px;
          box-sizing: border-box;

          .hb-message--time {
            color: var(--hb-color-text-muted);
          }
        }
      }
    }
}

@media (max-width: 450px) {
  .hb-message {
    width: 80%;
  }
}
