.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.user-subscription-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  align-content: center;
  overflow: auto;

  .user-subscription {
    .user-subscription-title {
      margin: 2rem;
    }

    .user-subscription-form {
      .user-subscription-form-input {
        border: 0;
        border: 1px solid #dfe5e8;
        outline: 0;
        padding: 1rem;
        border-radius: 2rem;
        margin: 1rem;
        width: 70%;
      }

      .user-subscription-form-button-submit {
        display: block;
        border-radius: 2rem;
        border: 0;
        width: 50%;
        margin: 2rem auto;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
}
