.user-subscription-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  align-content: center;
  overflow: auto;

  .user-subscription {
    &-title {
      margin: 2rem;
    }

    &-form {
      &-input {
        border: 0.0625rem solid var(--hb-color-border-subtle);
        outline: 0;
        padding: 1rem;
        border-radius: 2rem;
        margin: 1rem;
        width: 70%;
      }

      &-button-submit {
        display: block;
        border-radius: 2rem;
        border: 0;
        width: 50%;
        margin: 2rem auto;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
}
