.hb-user-input {
  min-height: 3.4375rem;
  margin: 0;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: var(--hb-color-surface-input);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
  border-top: 0.0625rem solid var(--hb-color-border-subtle);
}

.hb-user-input--text {
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1.125rem 0.5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--hb-color-text-secondary);
  -webkit-font-smoothing: antialiased;
  max-height: 12.5rem;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.hb-user-input--text:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: var(--hb-color-text-muted);
  filter: contrast(15%);
  outline: none;
  cursor: text;
}

.hb-user-input--text[contenteditable="true"]:focus:empty:before {
  position: absolute;
}

.hb-user-input--text[contenteditable="true"]:focus:empty:after {
  content: "\00a0";
}

.hb-user-input--buttons {
  display: flex;
  gap: 0.25rem;
  margin: 0 0.5rem;
}

.hb-user-input--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hb-user-input--button:not(:last-child) {
  margin-right: 0.125rem;
}

.hb-user-input.active {
  box-shadow: none;
  background-color: var(--hb-color-surface-panel);
  box-shadow: var(--hb-shadow-widget);
}

.hb-user-input--button label {
  position: relative;
  height: 1.5rem;
  padding-left: 0.1875rem;
  cursor: pointer;
}

.hb-user-input--button label:hover path {
  fill: var(--hb-color-interactive-icon);
}

.hb-user-input--button input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.hb-file-container {
  padding: 0.3125rem 1.25rem;
  display: flex;
  align-items: center;
}

.hb-user-input--file-icon {
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
}

.delete-file-message {
  font-style: normal;
  float: right;
  cursor: pointer;
  color: var(--hb-color-state-disabled);
}

.delete-file-message:hover {
  color: var(--hb-color-interactive-icon);
}

.icon-file-message {
  margin-right: 0.3125rem;
}
