version: "3.8"

services:
  database-init:
    build:
      context: ../api
    pull_policy: build
    volumes:
      - ../api/src:/app/src
      - ../api/migrations:/app/migrations
      # - ../api/node_modules:/app/node_modules

  api:
    build:
      context: ../api
    pull_policy: build
    ports:
      - ${API_PORT}:3000
      - 9229:9229 # vscode debug port
    volumes:
      - ../api/src:/app/src
      - ../api/migrations:/app/migrations
      #- ../api/node_modules:/app/node_modules
    command: ["npm", "run", "start:debug"]

  mongo-express:
    container_name: mongoUi
    image: mongo-express:1-20
    restart: always
    ports:
      - ${APP_MONGO_EXPRESS_PORT}:8081
    networks:
      - db-network
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASSWORD}
      ME_CONFIG_MONGODB_URL: ${MONGO_URI}

  hexabot-frontend:
    container_name: frontend
    build:
      context: ../
      dockerfile: ./frontend/Dockerfile
      target: development
    pull_policy: build
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ../frontend/src:/app/src
      - ../frontend/src/components:/app/src/components
    ports:
      - 8081:8081

  widget:
    build:
      context: ../widget
      target: development
    pull_policy: build
    volumes:
      - ../widget/src:/app/src
    ports:
      - ${APP_WIDGET_PORT}:5173
