version: "3.9"

services:
  widget:
    container_name: widget
    image: hexastack/hexabot-widget:latest
    networks:
      - app-network
    depends_on:
      api:
        condition: service_healthy
    ports:
      - 5173:5173
