version: "3.8"

services:
  api:
    build:
      context: ../
      dockerfile: ./packages/api/Dockerfile
      target: development
    pull_policy: build
    ports:
      - 3000:3000
      - 9229:9229 # vscode debug port
    volumes:
      - ../packages/api/src:/app/packages/api/src
      - ../packages/api/migrations:/app/packages/api/migrations
      #- ../packages/api/node_modules:/app/packages/api/node_modules

  postgres:
    ports:
      - ${DB_PORT:-5432}:5432

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:8.9
    restart: always
    depends_on:
      - postgres
    ports:
      - 9000:80
    networks:
      - db-network
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: "False"

  hexabot-frontend:
    container_name: frontend
    build:
      context: ../
      dockerfile: ./packages/frontend/Dockerfile
      target: development
    pull_policy: build
    volumes:
      - ../packages/frontend/:/app/packages/frontend/
