.hb-message--carousel {
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  color: var(--hb-color-text-primary);
  background-color: var(--hb-color-surface-message-received);

  &.sent {
    color: var(--hb-color-text-on-primary);
    background-color: var(--hb-color-surface-message-sent);
  }

  .hb-message--carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;

    .hb-message--carousel-element-wrapper {
      min-width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .hb-message--carousel-element {
        width: 100%;
        .hb-message--carousel-element-image {
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          width: 100%;
          height: 150px;
        }

        .hb-message--carousel-title {
          font-size: 1rem;
          font-weight: 600;
          margin: 0.5rem 0 0.25rem;
          padding: 0;
        }
        .hb-message--carousel-element-description {
          width: 100%;
          padding: 0 1rem;
          box-sizing: border-box;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  &.with-controls {
    .hb-message--carousel-element-description {
      padding: 0 1.5rem;
    }
  }

  .hb-message--carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 32px;
    display: grid;
    place-items: center;
    background-color: var(--hb-color-surface-overlay);
    color: var(--hb-color-text-primary);
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

  &.with-controls.with-images {
    .hb-message--carousel-control {
      top: 75px;
    }
  }
}
