.hb-message--file {
  background-color: transparent !important;
  border-radius: 0.5rem;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;

  audio,
  video {
    max-width: 100%;
  }
  .error-message {
    margin: 0;
    // padding: 0.625rem 0 0.625rem 0.625rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    color: var(--hb-color-text-muted);
    width: 100%;
    display: block;
  }
}

.hb-message--content.sent .hb-message--file {
  word-wrap: break-word;
}

.hb-message--file-icon {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 0.9375rem;
  margin-bottom: 0;
}

.hb-image {
  max-width: 100%;
  height: auto;
}

.hb-message--file-download {
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  color: var(--hb-color-text-inverse);
  text-align: center;

  a {
    text-decoration: none;
    color: var(--hb-color-text-inverse);

    img {
      vertical-align: middle;
      width: 1.5rem;
      height: auto;
    }
  }
}

.hb-message--content.received .hb-message--file {
  color: var(--hb-color-text-primary);
  background-color: var(--hb-color-surface-message-received);
  margin-right: 2.5rem;
}

.hb-message--content.received .hb-message--file-download {
  color: var(--hb-color-text-primary);
}

.hb-message--content.received .hb-message--file a {
  color: var(--hb-color-text-secondary);
}

.hb-message--content.received .hb-message--file a:hover {
  color: var(--hb-color-interactive-icon-strong);
}
