.hb-message--location {
  border-radius: 0.75rem;
  overflow: hidden;
  color: var(--hb-color-text-primary);
  background-color: var(--hb-color-surface-message-received);

  &.sent {
    color: var(--hb-color-text-on-primary);
    background-color: var(--hb-color-surface-message-sent);
  }
}

.hb-message-map {
  width: 100%;
  max-width: 220px;
  height: 150px;
  border-radius: 0.75rem;
  display: block;
}
