.hb-message--list {
  border-radius: 0.5rem;
  color: var(--hb-color-text-primary);
  background-color: var(--hb-color-surface-message-received);

  &.sent {
    color: var(--hb-color-text-on-primary);
    background-color: var(--hb-color-surface-message-sent);

    .hb-message--list-element {
      border-bottom-color: rgba(255, 255, 255, 0.24);
    }
  }

  .hb-message--list-element:not(:last-child){
    border-bottom: var(--hb-color-border-subtle) 0.0625rem solid;
  }

  .hb-message--list-element {
    position: relative;
    padding: 1rem;

    .hb-message--list-element-content {
      width: 100%;
      display: block;

      &.large {
        margin: 0;

        .hb-message--list-element-image {
          background-size: cover;
          height: auto;
          border-radius: 0.5rem 0.5rem 0 0;
        }

        .hb-message--list-element-description {
          color: var(--hb-color-text-inverse);
          border-radius: 0.5rem 0.5rem 0 0;
          background: var(--hb-color-surface-overlay);
        }
      }

      &.compact {
        padding: 0.5rem 0;
      }

      .hb-message--title {
        font-size: 1.125rem;
        font-weight: 600;
        margin: 0;
        white-space: pre-line;
      }

      .hb-message--list-element-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 117px;
      }
    }
  }
}
