.hb-message--text-content {
  margin: 0;
  white-space: pre-line;

  a.chatLink {
    text-decoration: underline;
    transition: color 0.2s ease;

    &:hover {
      color: var(--hb-message-link-hover-color, var(--hb-color-text-link));
    }
  }
}
