.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.sc-chat--disconnected-icon-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: auto;
  padding: 14px 0;
}
.sc-chat--disconnected-icon {
  position: relative;
  text-align: center;
}
.sc-chat--disconnected-text {
  width: 100%;
}
.sc-chat--disconnected-button {
  border: 1px solid;
  border-radius: 2rem;
  padding: 5px 10px;
  width: 80%;
  margin: 2px;
  cursor: pointer;
  outline: 0;
}
.sc-chat--disconnected-button:active {
  content: "";
  opacity: 0;
  transition: all 0.5s;
}

.sc-chat--disconnected-button:active:after {
  opacity: 1;
  transition: 0s;
}

.sc-chat--attempt-reconnect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
