.sc-suggestions-row {
  text-align: center;
  padding: 0.5rem 0;
}

.sc-suggestions-element {
  margin: 0 0 0.25rem 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid;
  border-radius: 2rem;
  font-size: 1rem;
  background: inherit;
  cursor: pointer;
  outline: 0;
}
