.sc-user-input--file-wrapper {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
}
.sc-user-input--file-icon-wrapper {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
  cursor: pointer !important;
}

.sc-user-input--file-icon {
  width: 16px;
  height: 16px;
  align-self: center;
  outline: none;
  vertical-align: middle;
}

.sc-user-input--file-wrapper:hover {
  opacity: 1;
}
