.hb-user-input--location-icon-wrapper {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  opacity: 0.5;
  color: var(--hb-color-interactive-icon-muted);
}

.hb-user-input--location-icon-wrapper:focus {
  outline: none;
}

.hb-user-input--location-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  align-self: center;
  vertical-align: middle;
}

.hb-user-input--location-icon-wrapper:hover {
  opacity: 1;
  color: var(--hb-color-interactive-icon);
}
