.hb-menu-content {
  display: block;
  position: absolute;
  box-shadow: var(--hb-shadow-widget);
  width: 60%;
  bottom: 55px;
  z-index: 3;
  color: var(--hb-color-text-on-primary);
  background-color: var(--hb-color-surface-menu);

  &:active,
  &:focus {
    outline: none;
  }

  .hb-header-submenu-content {
    position: relative;
    text-align: center;

    .hb-title-submenu-title {
      font-weight: 600;
      font-size: 1.125rem;
    }
  }

  .hb-return-submenu-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

  .hb-return-submenu-content-icon {
    width: 1.125rem;
    height: 1.125rem;
  }
}
