.hb-user-input--menu {
  align-self: center;
}
.hb-user-input--menu-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--hb-color-interactive-icon-muted);

  &:hover {
    color: var(--hb-color-interactive-icon);
  }
}
.hb-user-input--menu-img {
  max-width: 24px;
}
.hb-menu-content {
  display: block;
  position: absolute;
  box-shadow: var(--hb-shadow-widget);
  width: 60%;
  bottom: 55px;
  z-index: 3;

  &:active,
  &:focus {
    outline: none;
  }

  .hb-header-submenu-content {
    position: relative;
    text-align: center;

    .hb-title-submenu-title {
      font-weight: 600;
      font-size: 1.125rem;
    }
  }

  .hb-return-submenu-content {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
}
