.hb-user-input--button-icon-wrapper {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  color: var(--hb-color-interactive-icon-muted);
}
.hb-user-input--button-icon-wrapper:focus {
  outline: none;
}
.hb-user-input--button-icon-wrapper:disabled {
  cursor: not-allowed;
  color: var(--hb-color-state-disabled);
}
.hb-user-input--button-icon-wrapper svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
  align-self: center;
  outline: none;
  display: inline-block;
  vertical-align: middle;
}
.hb-user-input--button-icon-wrapper:not(:disabled):hover {
  color: var(--hb-color-interactive-icon);
}
